@font-face {
  font-family: 'Venus-Medium';
  src: url('../../fonts/Venus-Medium.woff2') format('woff2'),
       url('../../fonts/Venus-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
